
/* h1,h3{
  text-align: center;
  text-decoration: underline;
  font-family: cursive;
} */

h2{
  font-family: 'Barlow', sans-serif;
  font-size: 70px;
  color:#fb246a;
}
.heading{
  font-size: 60px;
}

.login-form input{
  border-radius: 20px;
}


.form-inputs-container input, .form-group{
  width: 60%;
  margin: 0 auto;
}