<html>
    <head>
        <link rel="stylesheet" width="120px" href="../static/form-style.css">

        <script>
        function validateForm() {
        var x = document.forms["login-form"]["username"].value;
        if (x==null || x=="") {
            alert("Name must be filled out");
            return false;
        }
        var y = document.forms["login-form"]["password"].value;
        if (y==null || y=="") {
            alert("Password name must be filled out");
            return false;
        }
        }

        </script>
</html>
{% extends "layout.html" %}
{% block content %}

        <div class="content-section form-group">
                <form name="login-form"  action="/login" onsubmit="return validateForm()" target="_self" method="POST"  >
                    <h2 class="text-center mt-5" ><strong style="font-family:cursive">Login to your account</strong></h2>
                        <div class="invalid-feedback">
                            {% if error %}
                            <script>
                                alert("Username or Password is incorrect")
                                </script>
                            {% endif %}
                       </div>
                    <input class="form-control form-control-lg is-invalid" type ="text" name ="username" style="border-radius : 20px" placeholder="Username"><br>
                    <input class="form-control form-control-lg is-invalid" type="password" name="password" style="border-radius : 14.3rem" placeholder="Password"><br>
                    <input class="btn btn-outline-info" type="submit" style="border-radius : 20px" value="Submit"><br>
                </form>
        </div>
{% endblock content %}