{% extends 'layout.html' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='job-search.css') }}
{% endblock %}

{% block content %}
<h2 class="text-center mt-5 heading"><strong style="font-weight: 200; font-size: 60px;">Create an account to get started on your dream search</strong></h2>
    <div class="content-section">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
     <div class="form-group">
     <!-- {{ form.username.label(class="form-control-label") }} -->
     {% if form.username.errors %}
       {{ form.username(class="form-control form-control-lg is-invalid") }}
       <div class="invalid-feedback">
         {% for error in form.username.errors%}
             <span>{{error}}</span>
         {% endfor %}
       </div>
   {% else %}
       {{ form.username(class="form-control form-control-lg register-form-input", placeholder='Username') }}
   {% endif %}
   <br>
    </div>
    <div class="form-group">
         <!-- {{ form.password.label(class="form-control-label") }} -->
         {% if form.password.errors %}
           {{ form.password(class="form-control form-control-lg is-invalid") }}
           <div class="invalid-feedback">
             {% for error in form.password.errors%}
                 <span>{{error}}</span>
             {% endfor %}
           </div>
       {% else %}
           {{ form.password(class="form-control form-control-lg register-form-input", placeholder='Password') }}
       {% endif %}
     </div>
     <br>
     <div class="form-group">
         <!-- {{ form.confirm_password.label(class="form-control-label") }} -->
         {% if form.confirm_password.errors %}
           {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
           <div class="invalid-feedback">
             {% for error in form.confirm_password.errors%}
                 <span>{{error}}</span>
             {% endfor %}
           </div>
       {% else %}
           {{ form.confirm_password(class="form-control form-control-lg register-form-input", placeholder='Confirm Password') }}
       {% endif %}
     </div>
     <br>
     <div class="form-group"> <!-- form-group -->
        <!-- <label for="fields-entry" class="labels">(Optional) Fields of Interest</label> -->
        <input id="fields-entry" class="form-control form-control-lg register-form-input" placeholder='(Optional) Fields of Interest: Type job field(s) seperated by comma' onkeypress="createToast(event)" name="fields of interest">
        <fieldset class="toast-container"></fieldset>
     </div>
     <br>
     <div class="form-group">
             {{ form.submit(class="btn btn-outline-info register-form-input", style="display:block; margin: 0 auto") }}
      </div>
 </fieldset>
 
         </form>
     </div>
      <script> // NOT nice
        /*window.addEventListener('keydown', function(event){
          if(event.keyCode == 13){
            event.preventDefault();
            return false;
          } 
        })*/
      </script>
{% endblock %}