<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Resume - {{ data['name'] }}</title>
  <style>
	  header{
		  text-align: center;
	  }
	  h1{
		  font-style: bold;
	  }
  </style>
</head>
<body>
	<header role="banner">
		<h1>{{ data['name'].upper() }}</h1>
		<p>{{ data['title'] }}</p>
		<p>{{ data['email'] }} &bull; {{ data['phone_number'] }}</p>
	</header>
	<main role="main">
		<h2>EDUCATION</h2>
		<h3>{{ data['university'].upper() }}</h3>
		<p>Graduation year</p>
		<p>Degree in {{ data['major'].title() }}</p>
		{% if data['gpa'] %}
			<p>GPA: {{ data['gpa'] }}</p>
		{% endif %}

		<h2>EXPERIENCE</h2>
		{% for i in range(num_exp) %}
			<h3>{{ data['company ' + (i+1)|string].upper() }}</h3>
			<h4>{{ data['position ' + (i+1)|string].title() }}</h4>
			<p>Location</p>
			<p>{{ data['start_date ' + (i+1)|string] }} &#8211; {{ data['end_date ' + (i+1)|string] }}</p>
			<p>{{ data['position_description ' + (i+1)|string] }}</p>
		{% endfor %}
	</main>
<body>
</html>
























