{% extends "layout.html" %}
{% block content %}
    <div>
        <br>

        <h3 style = "text-align: center;"> Build a Resume </h3>

        <!-- <embed type="text/html" src="{{ url_for('static', filename='templates/resume-look.html') }}" width="500" height="200"> -->
            <form action="{{ url_for('resume_builder') }}" method="POST">

            <!-- <! <div class="form-group">
                <label for="exampleFormControlInput1">Name: </label>
                <input type="text" name = "name" class="form-control" id="exampleFormControlInput1" placeholder="">
          -->
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-personal-info-tab" data-toggle="tab" href="#nav-personal-info" role="tab" aria-controls="nav-personal-info" aria-selected="true">Personal</a>
                <a class="nav-item nav-link" id="nav-education-tab" data-toggle="tab" href="#nav-education" role="tab" aria-controls="nav-education" aria-selected="false">Education</a>
                <a class="nav-item nav-link" id="nav-experience-tab" data-toggle="tab" href="#nav-experience" role="tab" aria-controls="nav-experience" aria-selected="false">Experience</a>
                <a class="nav-item nav-link" id="nav-skills-interests-tab" data-toggle="tab" href="#nav-skills-interests" role="tab" aria-controls="nav-skills-interests" aria-selected="false">Skills</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-personal-info" role="tabpanel" aria-labelledby="nav-personal-info-tab">
                <div class="form-group">
            {{ form.name.label(class="form-control-label") }}
            {% if form.name.errors %}
            {{ form.name(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.name.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.name(class="form-control form-control-lg") }}
        {% endif %}
            </div>
            <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {% if form.title.errors %}
            {{ form.title(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.title.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.title(class="form-control form-control-lg") }}
        {% endif %}
            </div>
            <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.email(class="form-control form-control-lg") }}
        {% endif %}
            </div>
            <div class="form-group">
            {{ form.phone_number.label(class="form-control-label") }}
            {% if form.phone_number.errors %}
            {{ form.phone_number(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.phone_number.errors %}
                    <span>{{error}}</span>
                {% endfor %}
                <span>Hint: dashes are required</span>
            </div>
        {% else %}
            {{ form.phone_number(class="form-control form-control-lg") }}
        {% endif %}
            </div>
            </div>
            <div class="tab-pane fade" id="nav-education" role="tabpanel" aria-labelledby="nav-education-tab">
                <div class="form-group">
            {{ form.education.label(class="form-control-label") }}
            {% if form.education.errors %}
            {{ form.education(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.education.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.education(class="form-control form-control-lg") }}
        {% endif %}
            </div>
            <div class="form-group">
            {{ form.education_address.label(class="form-control-label") }}
            {% if form.education_address.errors %}
            {{ form.education_address(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.education_address.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.education_address(class="form-control form-control-lg") }}
        {% endif %}
            </div>
            <div class="form-group">
            {{ form.major.label(class="form-control-label") }}
            {% if form.major.errors %}
            {{ form.major(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.major.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.major(class="form-control form-control-lg") }}
        {% endif %}
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">GPA: </label>
                <input type="text" name = "gpa" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            </div>
            <div class="tab-pane fade" id="nav-experience" role="tabpanel" aria-labelledby="nav-experience-tab">
                <div class="form-group">
                <label for="exampleFormControlInput1">Company Name: </label>
                <input type="text" name = "company1" class="form-control" id="exampleFormControlInput1" placeholder="Apple Inc">
            </div>
             <div class="form-group">
                <label for="exampleFormControlInput1">Position: </label>
                <input type="text" name = "position1" class="form-control" id="exampleFormControlInput1" placeholder="Frontend Engineer">
            </div>
             <div class="form-group">
                <label for="exampleFormControlInput1">Start Date: </label>
                <input type="text" name = "start_date1" class="form-control" id="exampleFormControlInput1" placeholder="June 2020">
            </div>
             <div class="form-group">
                <label for="exampleFormControlInput1">End Date: </label>
                <input type="text" name = "end_date1" class="form-control" id="exampleFormControlInput1" placeholder="present">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Position Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name = "position_description1" rows="3"></textarea>
            </div>
            </div>
            <div class="tab-pane fade" id="nav-skills-interests" role="tabpanel" aria-labelledby="nav-skills-interests-tab">
                <div class="form-group">
            {{ form.skill_title1.label(class="form-control-label") }}
            {% if form.skill_title1.errors %}
            {{ form.skill_title1(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.skill_title1.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.skill_title1(class="form-control form-control-lg") }}
        {% endif %}
            </div>
            <div class="form-group">
            {{ form.skill_description1.label(class="form-control-label") }}
            {% if form.skill_description1.errors %}
            {{ form.skill_description1(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.skill_description1.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.skill_description1(class="form-control form-control-lg") }}
        {% endif %}
            </div>
            </div>
        </div>
            <div class="form-group">
             {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <input class="btn btn-outline-info" type="submit" value="Submit"><br>
            </form>

    </div>


{% endblock %}